*{
	margin: 0px;
}

body{
	/*background-image: url("../media/images/bg.jpg");*/
	background-color: rgb(75, 75, 75);
}

main{
	margin: 0 auto;
	width:1600px;
	min-height:900px;
	background-color: white;
	margin-top:50px;
}

header{
	top: 0px;
}

nav ul li{
	padding: 10px 50px 10px 10px;
	list-style: none;
	font-family: Verdana;
	font-size: 16px;
}

nav ul li .active{
	padding: 10px 50px 10px 10px;
	list-style: none;
	font-family: Verdana;
	font-size: 20px;
}

a{
	text-decoration: none;
	color: black;
}

/*Popout menu*/

#popout{
	position: fixed; 
    left: -210px; 
    transition: 0.1s; 
    padding: 5px; 
    width: 250px; 
	height: 100%;
    text-decoration: none; 
    font-size: 20px; 
    color: white; 
    border-radius: 0 10px 10px 0; 
	background-color: #4CAF50;
}

#popout:hover{
	left: 0px;
}

#popout h1{
	border-bottom: 2px solid black;
}

#popout img{
	position: relative;
	top: -48px;
	left: 208px;
	width: 40px;
}

#popout_pers_info{
	position: fixed; 
    left: -210px; 
    transition: 0.1s; 
    padding: 5px; 
    width: 250px; 
	height: 100%;
    text-decoration: none; 
    font-size: 20px; 
    color: white; 
    border-radius: 0 10px 10px 0; 
	background-color: #4CAF50;
}

#popout_pers_info:hover{
	left: 0px;
}

#popout_pers_info h1{
	border-bottom: 2px solid black;
}

#popout_pers_info img{
	position: relative;
	top: -48px;
	left: 208px;
	width: 40px;
}

/*Flexbox*/

.flex_item{
	width: 600px;
	margin: 50px;
	background-color: gray;
	border-radius: 20px;
	text-align: center;
}

.flex_item img{
	width: 600px;
}