<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="./css/main.css">
		<title>Layout | Hobby</title>
	</head>
	<body>
		<header>
			<h1>Hobby</h1>
			<nav>
				<ul>
					<li><a href="./index.html">Home</a></li>
					<li><a href="./hobby.html">Mijn Hobby</a></li>
					<li><a href="./nieuws.html">Nieuws</a></li>
				</ul>
			</nav>
		</header>
		<div id="main_flex">	
			<main>
				<section id="main_section_hobby">
					<h2>Wat doe ik als hobby?</h2>
					<p>
						Als hobby kijk ik welke nieuwe tech of tech nieuws is. <img id="tech_1" src="./images/tech_1.jpg" alt="tech picture">Waarom doe ik dat? eerlijk gezegd weet ik het zelf ook niet echt maar ik ben er heel erg in geintereseerd.  
						ook ben ik erg geintereseerd in programmeren van website's en software. 
						</p>
						<br />
						<p>
						Dit is natuurlijk ook waarom ik zelf Programmeur wil worden. ik vind programmeren erg gaaf om te doen omdat je ziet wat je doet en dat je iets maakt wat ook echt een impact heeft.
						Mijn interesse voor tech en programmeren is begonnen toen ik ongeveer 10 jaar oud was ik zag voor die leeftijd allemaal technische dingen. 
						Toen is er de vraag opgekomen hoe het werd gemaakt en dat ik het zelf ook later graag wilde doen.
						<img id="tech_2" src="./images/tech_2.jpg" alt="plaatje 2">
						toen ik eenmaal een snuffelstage moest doen ben ik bij een ICT bedrijft stage gaan lopen en heb ik met hun mee gewerkt aan een website. Toen wist ik dat ik dit 100% zeker te weten willen worden.
					</p>
				</section>
			</main>
			<aside>
				<section id="column_ad">
					<a href="https://www.youtube.com" target="_blank">
						<article class="flex_item_3">
						</article>
					</a>
					<a href="https://www.google.com" target="_blank">
						<article class="flex_item_3">
						</article>
					</a>
				</section>
			</aside>
		</div>
		<footer>
			&copy;Walther de Groot 2017
		</footer>
	</body>
</html>