<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="./css/main.css">
		<title>Layout | Nieuws</title>
	</head>
	<body>
		<header>
			<h1>Nieuws</h1>
			<nav>
				<ul>
					<li><a href="./index.html">Home</a></li>
					<li><a href="./hobby.html">Mijn Hobby</a></li>
					<li><a href="./nieuws.html">Nieuws</a></li>
				</ul>
			</nav>
		</header>
		<div id="main_flex">	
			<main>
				<section id="column_news_all">
					<article id="news_1" >
						<img id="news_image_1" src="./images/news_image_1.jpg" alt="News image 1">
						<h2>Sonos presenteert nieuwe luidspreker met stembediening </h2>
						<p>Sonos heeft woensdag zijn eerste slimme speaker aangekondigd. De Sonos One werkt met spraakbediening via Amazon Alexa.
							De Sonos One-speaker lijkt qua ontwerp veel op de bestaande Play:1, maar met een ring op de bovenkant. In het apparaat zijn zes microfoons geplaatst om spraak te herkennen. Dat gaat aanvankelijk via Alexa van Amazon. Volgend jaar wordt Google Assistant toegevoegd.
							Als de microfoon actief is, brandt er een lampje bij het microfoon-icoon. Gebruikers kunnen de microfoon uitschakelen, zodat de luidspreker niet meeluistert. Volgens Sonos is dit toegevoegd om de privacy van gebruikers te waarborgen.
							De Sonos One verschijnt op 24 oktober in Nederland voor 229 euro. Stembediening werkt nog niet in het Nederlands op de luidspreker.
						</p>
						<br />
						<h3>AirPlay 2</h3>
						<P>Bestaande Sonos-apps gaan ook met Alexa werken, als gebruikers een gekoppelde Amazon Echo-speaker of Echo Dot hebben. Sonos kondigde aan dat de functie tot volgend jaar in publieke bèta is.
							Verder wordt ook Apple's AirPlay 2 toegevoegd aan Sonos-speakers. Gebruikers met een iPhone of iPad kunnen dan muziek of geluid van video's via de luidspreker van Sonos afspelen. De update komt op een nog onbekende datum volgend jaar beschikbaar.
						</P>
					</article>
					<article id="news_2" >
						<img id="news_image_2" src="./images/news_image_2.jpg" alt="News image 2">
						<h2>Drones moeten tijdens proef medicijnen bezorgen op Schiermonnikoog </h2>
						<p>Tijdens een proef moeten drones worden ingezet om medicijnen te vervoeren naar het waddeneiland Schiermonnikoog.
							De test is een samenwerking van UMCG Ambulancezorg en ANWB Medical Air Assistance, meldt Omrop Fryslân. 

							Tijdens de test worden drie drones ingezet om in totaal dertig vluchten uit te voeren. Daarbij vliegen de drones vanaf een niet nader genoemde locatie naar de helikopterhaven op het eiland. 

							De gemeente Schiermonnikoog is akkoord gegaan met de vluchten, maar benadrukt alleen toestemming te geven voor medische vluchten. Commerciële vluchten hoopt de gemeente te weren, omdat ze de rust verstoren.
							  
							De provincie Friesland moet nog formeel instemmen met het initiatief.
						</p>
						<br />
						<h3>Tanzania</h3>
						<p>De startup Zipline zet in andere landen al drones in om snel medicijnen te bezorgen. Dat doet het bedrijf sinds augustus dit jaar bijvoorbeeld in Tanzania</p>
					</article>
					<article id="news_3" >
						<img id="news_image_3" src="./images/news_image_3.jpg" alt="News image 3">
						<h2>Data miljoenen gebruikers reactieplatform Disqus gestolen </h2>
						<p>Gebruikersdata van 17,5 miljoen gebruikers van reactieplatform Disqus is bij een hack gestolen. De hack vond al in 2012 plaats, maar komt nu pas aan het licht.
							Dat meldt Disqus zaterdagnacht in een verklaring. Disqus biedt een platform dat op veel sites wordt gebruikt om bezoekers onder artikelen te laten reageren.
							Disqus werd op 5 oktober door een beveiligingsonderzoeker gewaarschuwd voor een mogelijk lek. Later die dag bleek er inderdaad sprake van zo'n hack, en begon Disqus met het ondernemen van stappen.
							De hack vond al in 2012 plaats. Een hacker wist toen data van 17,5 miljoen gebruikers te stelen, die zich tussen 2007 en 2012 bij het platform hebben aangemeld.
						</p>
						<br />
						<h3>Versleutelde wachtwoorden</h3>
						<p>
							De gestolen data bevat e-mailadressen, gebruikersnamen, login- en registratiedatums. Bovendien is van éénderde van de getroffen gebruikers het wachtwoord gestolen.
							Die gestolen wachtwoorden waren wel versleuteld met het beveiligingsalgoritme SHA1. Toch worden de wachtwoorden van alle getroffen gebruikers gereset.
							Disqus zegt geen aanwijzingen te hebben dat de gestolen data grootschalig op internet beschikbaar is geweest. Ook zegt het bedrijf dat er niets wijst op ongeautoriseerde inlogpogingen.
						</p>
					</article>
					<article id="news_4" >
							<img id="news_image_4" src="./images/news_image_4.jpg" alt="News image 4">
							<h2>Russen in Silicon Valley anders behandeld na Russische cyberaanvallen</h2>
							<p>Russen in Silicon Valley worden anders behandeld nadat hackers uit Rusland de VS aanvielen tijdens de Amerikaanse verkiezingen.
								Dat blijkt uit een rondgang van The New York Times in San Francisco, waar tienduizenden Russische immigranten wonen om te werken in de techindustrie.
								De krant sprak met meerdere in Rusland geboren ingenieurs die zeggen anders behandeld te worden sinds de spanningen tussen de VS en Rusland oplopen. 
								Volgens advocaten zouden sommige bedrijven beperken welke data programmeurs afkomstig uit het buitenland mogen inzien. Investeerders afkomstig uit Rusland merken dat startups hun geld minder snel aannemen, uit angst voor Russische invloed. 
								Bij andere bedrijven zouden Russische programmeurs juist in trek zijn, omdat het land een reputatie begint te krijgen voor zijn getalenteerde hackers.
							</p>
							<br />
							<h3>Amerikaanse verkiezingen</h3>
							<p>
								Rusland wordt onder andere beschuldigd van een grote cyberaanval op de Verenigde Staten tijdens de afgelopen presidentscampagne, waarbij zou zijn ingebroken op servers van de Democratische Partij. Daarbij hadden hackers toegang tot e-mails, die later werden gelekt.
								Rusland ontkent betrekking bij cyberaanvallen op de VS. Hacks in het land zouden worden uitgevoerd door 'patriotische' Russen waar de overheid volgens president Poetin geen invloed over heeft.
							</p>
							<br />
							<h3>Nepnieuws</h3>
							<p>Tegelijkertijd staat Rusland centraal in een tweede kwestie binnen de Amerikaanse techindustrie. Het bedrijf zou advertenties tijdens de verkiezingen hebben ingekocht bij grote sociale media, waarmee bezoekers onder andere werden doorverwezen naar nepnieuws over verkiezingskandidaten.
								Zowel Facebook als Twitter spreken volgende maand voor het Amerikaanse congres over de door Rusland ingekochte reclame. Facebook zei onlangs dat ongeveer 10 miljoen Amerikanen de Russische verkiezingsreclame te zien kregen.
							</p>
					</article>
				</section>
			</main>
			<aside>
				<section id="column_ad">
					<a href="https://www.youtube.com" target="_blank">
						<article class="flex_item_3">
						</article>
					</a>
					<a href="https://www.google.com" target="_blank">
						<article class="flex_item_3">
						</article>
					</a>
				</section>
			</aside>
		</div>
		<footer>
			&copy;Walther de Groot 2017
		</footer>
	</body>
</html>